// Body and HTML
body,html{
    height: 100%;
    background-color: #F7F7F7;
    overflow: hidden;
}

#logo {
	max-width: 75vw;
	max-height: 50px;
	position: absolute;
	bottom: 25px;
	right: 25px;
	opacity: .05;
	transition: all 0.5s ease-out;
}

#logo:hover {
	opacity: .25;
}

#title {
	width: 100vw;
	height: 100vh;

	p {
		font-family: Gilroy-ExtraBold;
		font-size: 8vw;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		white-space: nowrap;
		margin: 0;
		opacity: 0.1;
	}

	animation: scaleUp;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.33, 0, 0, 1);
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
        filter: blur(25px);
    }
    100% {
        transform: scale(1);
        filter: blur(0px);
    }
}