doctype html
html(lang="en")
	head
		include ../includes/head.jade
		include ../includes/mixins.jade
	body
		block content
		block logo
			a(href='https://your.website')
				img#logo(src="../img/logo.svg" rel="noreferrer")